.section-4 {
    width: auto;
    color: white;
    padding: 30px;
    background: transparent;
}
.section-4 >h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
}
.reviews-container {
    width: 100%;
    height: auto;
    background: transparent;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 50px 10px;
}
.reviews-container::-webkit-scrollbar {
    height: 8px;
}
.reviews-container::-webkit-scrollbar-track {
    background: black;
}
.reviews-container::-webkit-scrollbar-thumb {
    background: var(--yellow-color);
    border-radius: 10px;
}
.customer {
    width: 300px;
    padding: 30px 40px;
    white-space:wrap;
    /* height: 200px; */
    display: inline-block;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
}