.contact-section {
    width: auto;
    padding: 30px;
    height: 100vh;
    overflow-x: hidden;
    text-align: left;
    overflow-y: auto;
}
.contact-section > h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
}
legend {
    border-radius: 20px;
    background: var(--yellow-color);
    font-weight: bolder;
    padding: 5px 15px;
}
input {
    padding: 15px 20px;
    width: 300px;
    /* border-radius: 10px; */
    border: 1px solid transparent;
    color: var(--yellow-color);
    background: transparent;
    border-bottom: 1px solid var(--yellow-color);
}
textarea {
    padding: 15px 20px;
    width: 300px;
    height: 200px;
    /* border-radius: 10px; */
    border: 1px solid transparent;
    color: var(--yellow-color);
    background: transparent;
    border-bottom: 1px solid var(--yellow-color);
}
fieldset {
    border: none;
}
.submit-btn {
    padding: 10px;
    border-radius: 10px;
    background: var(--yellow-color);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    margin: auto;
}
