/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-color: #fde826;
  --pink-color: #f810ab;
  --primary-font: "Poppins", system-ui;
}
strong {
  color: #fde826;
}
p {
  color: rgb(165, 161, 161);
  font-size: 15px;
  word-spacing: 2px;
  line-height: 25px;
}